Repository peteraritchie/ConsoleApplicationBuilder: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/cd-template.yml, .azuredevops/ci-build.yml

.azuredevops/cd-template.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: UseDotNet@2
        displayName: Use .NET SDK $(dotNetVersion)
        inputs:
          packageType: sdk
          version: $(dotNetVersion)
  ...

.azuredevops/ci-build.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build_test
    displayName: Build and Test
    jobs:
    - job: Build
      displayName: Build and Test
      steps:
      - task: UseDotNet@2
        displayName: Use .NET SDK $(dotNetVersion)
        inputs:
          packageType: sdk
  ...

achange pipelines to only conditionaly push nuget when not PR [skip ci]
  .azuredevops/cd-template.yml
  .azuredevops/ci-build.yml
Due: .azuredevops/cd-template.yml, .azuredevops/ci-build.yml

updated pipelines adding nuget push as deployment to environment [skip ci]
  .azuredevops/cd-template.yml
  .azuredevops/ci-build.yml
Due: .azuredevops/cd-template.yml, .azuredevops/ci-build.yml

Templating lib pack & preparation for v1.1.0 [skip ci]
  .azuredevops/cd-template.yml
  .azuredevops/ci-build.yml
  .azuredevops/templates/jobs/build-and-pack-nuget-job.yml
  src/dotnet-new-template/content/consoleapp/Company.ConsoleApplication1.csproj
Due: .azuredevops/cd-template.yml, .azuredevops/ci-build.yml

Changed IConsoleApplicationBuilder to inherit from IHostApplicationBuilder (#7)
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/DefaultConsoleApplicationBuilder.cs
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/IConsoleApplicationBuilder.cs
Due: .azuredevops/ci-build.yml

v 1.1 release
  .azuredevops/templates/jobs/build-and-pack-nuget-job.yml
Due: none

addded pipeline templates to triggers [skip ci]
  .azuredevops/cd-template.yml
  .azuredevops/ci-build.yml
Due: .azuredevops/cd-template.yml, .azuredevops/ci-build.yml

bumped use of class library in dotnet new template
  src/dotnet-new-template/content/consoleapp/Company.ConsoleApplication1.csproj
Due: .azuredevops/cd-template.yml

Added some edge cases to unit tests [skip ci]
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/DefaultConsoleApplicationBuilder.cs
  src/ConsoleApplicationBuilder/Tests/CreatingMinimalApplicationInstanceShould.cs
Due: .azuredevops/ci-build.yml

Fixed test to be multi-platform
  src/ConsoleApplicationBuilder/Tests/CreatingMinimalApplicationInstanceShould.cs
Due: .azuredevops/ci-build.yml

Added some edge cases to unit tests [skip ci] (#9)
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/DefaultConsoleApplicationBuilder.cs
  src/ConsoleApplicationBuilder/Tests/CreatingMinimalApplicationInstanceShould.cs
Due: .azuredevops/ci-build.yml

checkpoint, pre-refactoring single factories
  .azuredevops/cd-template.yml
  .azuredevops/ci-build.yml
  .azuredevops/templates/jobs/build-and-pack-nuget-job.yml
  .azuredevops/templates/jobs/github-release-packages.yml
  LICENSE
  adrs/repo-structure.md
  scaffolding/scaffold-commandlineextensions.ps1
  src/ConsoleApplicationBuilder/CommandLineExtensions/CommandLineCommandBuilderBase.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/CommandLineCommandBuilderExtensions.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/CommandLineCommandSubcommandBuilder.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/ICommandHandler.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/ICommandLineCommandBuilder.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/ICommandLineCommandSubcommandBuilder.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/IOneParameterCommandLineCommandBuilder.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/ParamSpec.cs
  src/ConsoleApplicationBuilder/CommandLineExtensions/Pri.ConsoleApplicationBuilder.CommandLineExtensions.csproj
  src/ConsoleApplicationBuilder/CommandLineExtensions/TwoParameterCommandLineCommandBuilder.cs
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder.sln
  src/ConsoleApplicationBuilder/Tests/ApplicationEnvironmentShould.cs
  src/ConsoleApplicationBuilder/Tests/Common/IsolatedExecutionCollectionDefinition.cs
  src/ConsoleApplicationBuilder/Tests/CreatingMinimalApplicationInstanceShould.cs
  src/ConsoleApplicationBuilder/Tests/CreatingMinimalApplicationInstanceWithSettingsShould.cs
  src/ConsoleApplicationBuilder/Tests/Fixtures/TestRunnerFixture.cs
  src/ConsoleApplicationBuilder/Tests/Pri.ConsoleApplicationBuilder.Tests.csproj
  src/ConsoleApplicationBuilder/Tests/ServiceCollectionTests.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenArgumentFreeCommandShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenArgumentFreeRootCommandShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenCommandWithOneArgumentShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenCommandWithOneOptionShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenCommandWithOneRequiredOptionShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenCommandWithTwoOptionsShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/CommandLineExtensionsGivenCommandWithTwoRequiredOptionsShould.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/Constants.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/TestDoubles/FileInfoCountHandlerSpy.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/TestDoubles/FileInfoHandlerSpy.cs
  src/ConsoleApplicationBuilder/Tests/SystemCommandLine/TestDoubles/MainRootCommand.cs
  src/ConsoleApplicationBuilder/Tests/Utility.cs
Due: .azuredevops/cd-template.yml, .azuredevops/ci-build.yml

CommandLineExtensions pipeline
  .azuredevops/ci-CommandLineExtensions.yml
Due: none

Supporting exit code and custom argument parsing.
  src/CommandLineExtensions/CommandExtensions.cs
  src/CommandLineExtensions/CommandLineCommandBuilder.cs
  src/CommandLineExtensions/CommandLineCommandBuilderBase.cs
  src/CommandLineExtensions/CommandLineCommandBuilderExtensions.cs
  src/CommandLineExtensions/CommandLineCommandSubcommandBuilder.cs
  src/CommandLineExtensions/CommandLineCommandSubcommandBuilderBase.cs
  src/CommandLineExtensions/ICommandConfiguration.cs
  src/CommandLineExtensions/ICommandLineCommandBuilder.cs
  src/CommandLineExtensions/ICommandLineCommandSubcommandBuilder.cs
  src/CommandLineExtensions/IOneParameterCommandLineCommandBuilder.cs
  src/CommandLineExtensions/IOneParameterCommandLineCommandSubcommandBuilder.cs
  src/CommandLineExtensions/ISubcommandHandlerConfiguration.cs
  src/CommandLineExtensions/ITwoParameterCommandLineCommandBuilder.cs
  src/CommandLineExtensions/OneParameterCommandLineCommandBuilder.cs
  src/CommandLineExtensions/OneParameterCommandLineCommandSubcommandBuilder.cs
  src/CommandLineExtensions/ParamSpec.cs
  src/CommandLineExtensions/TwoParameterCommandLineCommandBuilder.cs
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/IConsoleApplicationBuilder.cs
  src/Tests/CommandLineExtensionsTests/AsyncTests.cs
  src/Tests/CommandLineExtensionsTests/CommandLineBuilderTestingBase.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenArgumentFreeCommandShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenArgumentFreeRootCommandShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithOneArgumentShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithOneOptionShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithTwoParametersShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithArgumentAndArgumentParserShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithArgumentParserShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithCommandFactoryShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithCommandObjectShould.cs
  src/Tests/CommandLineExtensionsTests/Examples.cs
  src/Tests/CommandLineExtensionsTests/ExitCodeTests.cs
  src/Tests/CommandLineExtensionsTests/GlobalSuppressions.cs
  src/Tests/CommandLineExtensionsTests/SclTests.cs
  src/Tests/CommandLineExtensionsTests/TestDoubles/FakeCommand.cs
  src/Tests/CommandLineExtensionsTests/TestDoubles/HandlerSpy.cs
  src/Tests/CommandLineExtensionsTests/TestDoubles/MainRootCommand.cs
  src/Tests/CommandLineExtensionsTests/TestDoubles/NullCommand.cs
  src/Tests/CommandLineExtensionsTests/TestDoubles/Subcommand.cs
Due: .azuredevops/ci-build.yml

Fixed PR build pipeline to point to right test csproj
  .azuredevops/pr-ConsoleApplicationBuilder-main.yml
Due: none

Updated PR pipeline to include testing CommandLineExtensions
  .azuredevops/pr-ConsoleApplicationBuilder-main.yml
Due: none

Fixed PR pipeline for multiple test projects.
  .azuredevops/pr-ConsoleApplicationBuilder-main.yml
Due: none

fixed commmandlineextensionstest framework version.
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsTests.csproj
Due: none

Added line ending conversion
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenArgumentFreeCommandShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenArgumentFreeRootCommandShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithOneArgumentShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithOneOptionShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithTwoParametersShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithArgumentAndArgumentParserShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithArgumentParserShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithCommandFactoryShould.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithCommandObjectShould.cs
  src/Tests/CommandLineExtensionsTests/Examples.cs
  src/Tests/CommandLineExtensionsTests/OneParameterDefaultValueTests.cs
  src/Tests/CommandLineExtensionsTests/SubcommandTests.cs
  src/Tests/CommandLineExtensionsTests/TwoParameterDefaultValueTests.cs
Due: none

Fixed tests affected by linux
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsGivenCommandWithOneOptionShould.cs
  src/Tests/CommandLineExtensionsTests/Examples.cs
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Added readme and bug-report template, and updated examples tests.
  .github/ISSUE_TEMPLATE/bug-report.md
  src/CommandLineExtensions/README.md
  src/Tests/CommandLineExtensionsTests/Examples.cs
Due: none

Set commandlineextensions build config for version 0.1rc
  .azuredevops/ci-CommandLineExtensions.yml
Due: none

Changed testprojects in pr pipeline
  .azuredevops/pr-ConsoleApplicationBuilder-main.yml
Due: none

restore wildcard test projects in pr pipeline
  .azuredevops/pr-ConsoleApplicationBuilder-main.yml
Due: none

changed format of multiple test projects in pr pipeline
  .azuredevops/pr-ConsoleApplicationBuilder-main.yml
Due: none

System.CommandLine Extensionvs v0.1 release
  .azuredevops/ci-CommandLineExtensions.yml
Due: none

System.CommandLine Extensionvs v0.1 release (#16)
  .azuredevops/ci-CommandLineExtensions.yml
Due: none

updated package ID of CommandLineExtensions
  src/CommandLineExtensions/Pri.CommandLineExtensions.csproj
Due: none

updated package ID of CommandLineExtensions (#17)
  src/CommandLineExtensions/Pri.CommandLineExtensions.csproj
Due: none

Updated nuget readme to be UTF8
  src/CommandLineExtensions/README.md
Due: none

Updated nuget readme to be UTF8 (#18)
  src/CommandLineExtensions/README.md
Due: none

Spelling errors in readme.md and v1.0
  .azuredevops/ci-CommandLineExtensions.yml
  src/CommandLineExtensions/README.md
Due: none

Spelling errors in readme.md and v1.0 (#19)
  .azuredevops/ci-CommandLineExtensions.yml
  src/CommandLineExtensions/README.md
Due: none

Fixed symbol format in CommandLineExtensions csproj
  src/CommandLineExtensions/Pri.CommandLineExtensions.csproj
Due: none

Fixed symbol format in CommandLineExtensions csproj (#20)
  src/CommandLineExtensions/Pri.CommandLineExtensions.csproj
Due: none

fixed package symbol format for CommandLineBuilder.
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/Pri.ConsoleApplicationBuilder.csproj
Due: .azuredevops/ci-build.yml

fixed package symbol format for CommandLineBuilder. (#21)
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/Pri.ConsoleApplicationBuilder.csproj
Due: .azuredevops/ci-build.yml

Path conditions:
  .azuredevops/cd-template.yml: any of: src/dotnet-new-template, .azuredevops/cd-template.yml
  .azuredevops/ci-build.yml: any of: src/ConsoleApplicationBuilder, .azuredevops/ci-build.yml
